[Desktop Entry]
# Xsession file
Encoding=UTF-8
Name=dwm
Comment=Dynamic window manager
Exec=dwm
Type=Application
X-LightDM-DesktopName=dwm
DesktopNames=dwm
Keywords=tiling;wm;windowmanager;window;manager;

